{% load static%}
<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.1.0/cerulean/bootstrap.min.css"
    integrity="sha512-tXycPnL+Yr5QLii76wlGuzgdqLkLEZezX74rw4uIjh1d6XDqT/niMQii5BKPooWAcJPjbILegKuDlBmSilfgvw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<nav class="navbar navbar-light bg-light" style="height:100px;">
   <img src ="{% static '/images/logo3.png'%}" style="width:150px; height:90px;"> 
</nav>

<div class="container" >
    <img src="{% static '/images/logo2.png'%}" style="width:200px; height:120px; margin-top:130px;margin-left:500px;">
    <form method="post" >
        {% csrf_token %}
        <input  style="width:1000px; height:55px; border-radius: 10px; margin-top:30px; margin-left:150px;" type="text"  name ="word">
        <br/>
        <button class="btn btn-primary" type="submit" style="width:500px; height:55px; border-radius: 25px; margin-top:50px; margin-left:370px;"> LookUp </button>
   </form >
   {% if infos.word %}
<div class="card" style="width: 900px; margin-top:50px; margin-left:150px">
    <img class="card-img-top" style="height:200px;" src="{{infos.image_url}}" alt="Card image cap">
    <div class="card-body">
     
<h5 class="card-title">
    {{infos.word}}
     <small class="text-muted">
         {{infos.partOfSpeech}} 
         <a href="{{infos.phonetics }}"> <small class="text-muted"> {{infos.phonetic }} </small> </a>
    
    </small> 
<hr/>
</h5>

        <p class="card-text"> 
            
            <strong> {{infos.definition }}  </strong> 

            <ul>
                <li> <strong> Origin : </strong> {{infos.origin}}</li>
            </ul>
        
        </p>
       
        <hr/>
        <h6 class="card-title"> Example </h6>
        <p class="card-text"> <strong> {{infos.example }} </strong> </p>
        <hr />
        <h6 class="card-title"> Synonyms </h6> 
        <ul>   
        {% for synonym in infos.synonyms %}
         
        <li> {{synonym }} </li>
        
        {% endfor %}
        </ul>
        <hr />
        <h6 class="card-title"> Antonyms </h6>
        <ul>
            {% for antonym in infos.antonyms %}
        
            <li> {{antonym }} </li>
        
            {% endfor %}
        </ul>
      
    </div>
</div>
     
   </div>
   {%endif %}
   

</div>